<div class="page-wrap">
  <div class="container">
    <div class="row">  
      <div class="col-xs-8 col-sm-6 col-md-10">
        <div class="info-box" id="about-bikes">
          <h1 class="headline">This is all about... bikes</h1>
          <p>All of the content on this app is made with love. Bikes are our passion.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        <div class="info-box">
          <h4 class="about-headline">Sell us your bike!</h4>
          <p>Got a good bike? But maybe want another bike or need some space in your bicycle rack?</p>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6">
        <div class="info-box">
          <h4 class="about-headline">Buy a bike!</h4>
          <p>You will always get the best price for your bike.</p>
        </div>
      </div>
    </div>
  </div>
</div>
