<div class="page-wrap">
  <%= image_tag("bike_CF.jpg", class: "img-responsive", class: "front-img") %>
  <h1>Welcome to Bike Berlin</h1>

  <h2 class="index-header">Your source for used bikes in Berlin</h2>
    <p>Welcome! The date and time is <%= Time.now %></p>
</div>


