development:
  adapter: async

test:
  adapter: async

production:
  adapter: postgresql
  url: postgres://kdlugtcbtesvgm:fb9adee5109b794a4eaa4a82fddd50961718c1b9e255ece4a8b2798f0247608a@ec2-54-243-253-17.compute-1.amazonaws.com:5432/d5m5qjb2in4uqe
