h3 {
  text-align: center;
  color: #532A67;
}

p {
  text-align: center;
}

.field .actions {
  margin-left: 20px;
  padding-left: 50px;
  margin-right: 100px;
}

h1 {
  z-index: -1;
}

.form-control {
  margin-left: 50px;
  width: 200px;
}
