/* ---------------------------
 1. Body
 ----------------------------- */

body {
  position: relative;
  background-color: #222222;
  margin: none;
  font-family: Helvetica, Garamond, Verdana, sans-serif;
  font-size: 14px;
  color: #e6e6fa;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

/* ---------------------------
 2. General
 ----------------------------- */

h1 { 
  margin: 30px;
  margin-top: 100px;
  color: #f0e6fa;
  z-index: -1;
}
h2 {
  margin-left: 120px;
  margin-top: 50px;
  padding-top: 40px;
  z-index: -1;
}
h3 {
  text-align: center;
  color: #f0e6fa;
}
.headline {
  z-index: -1;
  margin-top: 100px;
}
h4 {
  margin-left: 50px;
}
.btn-search {
  background-color: #006800;
  max-height: auto;
  margin-top: 10px;
}

/* ---------------------------
 3. NavBar
 ----------------------------- */

.nav {
  z-index: -1;
}
.navbar {
  text-transform: uppercase;
}
.navbar-nav > li {
  padding-right: 2px;
  color: #532a67;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}
#brand-name {
  font-family: 'Permanent Marker', cursive;
  color: #006800;
}
.btn-info {
  background-color: #006800;
  border-color: #006800;
  max-height: auto;
  margin-top: 3.2px;
}
.form-control {
  margin-top: 10px;  
}
.pull-right {
  text-align: right;
  display: inline;
}

/* ---------------------------
 4. index
 ----------------------------- */
.index-header { 
  margin: 100px;
  padding: 20px;
  color: #532a67;
  size: 16px;
}
.p { 
  font-size: 16px;
  margin-left: 50px;
}
.front-img {
  max-height: 99vh;
  width: 98.5vw;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

/* ---------------------------
 5. about
 ----------------------------- */

p {
  margin: 50px;
}

/* ---------------------------
 6. contact
 ----------------------------- */
.contact-img {
  height: 200px;
  width: 300px;
  margin-left: 100px;
}
.contacts {
  margin-left: 50px;
}
.btn-primary {
  margin-left: 50px;
  margin-bottom: 3em;
  background: #006800;
  border-color: #006800;
}
.adress {
  text-align: left;
  margin: 1px;
  margin-left: 50px;
}

/* ---------------------------
 7. Products
 ----------------------------- */

.color, .price, .description {
  text-align: center;
  margin: 0em;
}
.field {
  margin-left: 20px;
  padding-left: 50px;
}
.form-control {
  margin-left: 50px;
  margin-bottom: 5px;
  width: 400px;
}
.btn-success {  
  margin-left: 20px;
  margin-top: 10px;
  width: 130px;
  background: #006800;
  border-color: #006800;
}
.actions {
  margin-left: 50px;
  padding-left: 50px;
}
.image-prod {
  max-height: 300px;
}
.single-product {
  border: 0.1em solid #fff;
  margin-bottom: 1em;
}
.product-price {
  font-size: 30px;
}
.links {
  margin-left: 50px;
}
.show-details {
  padding-left: 0.5em;  
}
/* ---------------------------
 8. Rating
 ----------------------------- */

.rated {
  margin-left: 50px;
}
.stars {
  margin-bottom: 1px;
}
.rating {
  margin-left: 50px;
}
.btn-default {
  margin-left: 10px;
  background: #006800;
  border-color: #006800;
  color: #f0e6fa;
}
#enter-comment {
  margin-left: 4px;
  max-width: 319px;
}
.single-comment {
  margin-bottom: 10px;
  margin-top: 15px;
  
}

/* ---------------------------
 8. carousel
 ----------------------------- */
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  display: inline;
  position: relative;
  left: 80px;
  max-width: auto;
  max-height: 30%;
  margin-left: 100px;
}
.carousel-inner .active.left { 
  left: -25%; 
}
.carousel-inner .next {
  left:  25%;
}
.carousel-inner .prev {
  left: -25%; 
}
.carousel-control { 
  width: 4%;
}
.carousel-control.left,.carousel-control.right {
  margin-left: 15px;
  background-image: none;
}
.Featured-title {
  z-index: -1;
  margin-top: 70px;
  padding: 5px;
}

/* ---------------------------
 9. Misc
 ----------------------------- */
.thank-you-text {
  color: #006800;
}
.login-field {
  margin-left: 60px;
 
}
.check-box {
  margin-left: 120px;
}
.btn-danger {
  margin-top: 10px;
  margin-left: 20px;
  background: #006800;
  border-color: #006800;
}
.field-checkbox {
  margin-left: 120px;
  margin-top: 10px;
}
.authentication-form {
  margin-left: 10px;
}
.authentication-header {
  margin-left: 105px;
}
.user-name {
  margin-left: 20px;
}

/* ---------------------------
 10. footer
 ----------------------------- */
.footer-element {
  float: right;
  text-align: right;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
footer {
  margin-top: 20px;
  background: #006800;
}

/* ---------------------------
 11. pagination
 ----------------------------- */

//btn {
  // display: inline-block;
  // padding: 10px;
  // border-radius: 5px; /*optional*/
  // color: #e6e6fa;
  // font-size: .875em;
//}

.pagination {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}