/* ---------------------------
 1. Body
 ----------------------------- */

body {
  position: relative;
  background-color: green;
  margin: none;
  font-family: Helvetica, Garamond, Verdana, sans-serif;
  font-size: 14px;
  color: #e6e6fa;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

/* ---------------------------
 2. General
 ----------------------------- */

h1 { 
  margin: 30px;
  color: #f0e6fa;
  z-index: -1;
}
h2 {
  margin-left: 120px;
}
h3 {
  text-align: center;
  color: #f0e6fa;
}
.headline {
  z-index: -1;
  margin-top: 50px;
}
.btn-search {
  background-color: #006800;
  max-height: auto;
  margin-top: 10px;
}

/* ---------------------------
 3. NavBar
 ----------------------------- */

.nav {
  z-index: -1;
}
.navbar {
  text-transform: uppercase;
}
.navbar-nav > li {
  padding-right: 2px;
  color: #532a67;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}
#brand-name {
  font-family: 'Permanent Marker', cursive;
  color: #006800;
}
.btn-info {
  background-color: #006800;
  border-color: #006800;
  max-height: auto;
  margin-top: 3.2px;
}
.form-control {
  margin-top: 10px;  
}
.pull-right {
  text-align: right;
  display: inline;
}

/* ---------------------------
 4. index
 ----------------------------- */
.index-header { 
  margin: 100px;
  padding: 20px;
  color: #532a67;
  size: 16px;
}
.p { 
  font-size: 16px;
  margin-left: 50px;
}
.front-img {
  max-height: 99vh;
  width: 98.5vw;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

/* ---------------------------
 5. about
 ----------------------------- */

p {
  margin: 50px;
}

/* ---------------------------
 6. contact
 ----------------------------- */
.contact-img {
  height: 200px;
  width: 300px;
  margin-left: 100px;
}
.contacts {
  margin-left: 50px;
}
.btn-primary {
  margin-left: 50px;
  background: #006800;
  border-color: #006800;
}

/* ---------------------------
 7. Products
 ----------------------------- */

.color, .price, .description {
  text-align: center;
  margin: 0px;
}
.field {
  margin-left: 20px;
  padding-left: 50px;
}
.form-control {
  margin-left: 50px;
  margin-bottom: 5px;
  width: 400px;
}
.btn-success {  
  margin-left: 20px;
  margin-top: 10px;
  width: 130px;
  background: #006800;
  border-color: #006800;
}
.actions {
  margin-left: 50px;
  padding-left: 50px;
}
.image-prod {
  max-height: 300px;
}
.row {
  border-style: red solid;
}

/* ---------------------------
 8. carousel
 ----------------------------- */
.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  display: inline;
  position: relative;
  left: 80px;
  max-width: auto;
  max-height: 30%;
  margin-left: 100px;
}
.carousel-inner .active.left { 
  left: -25%; 
}
.carousel-inner .next {
  left:  25%;
}
.carousel-inner .prev {
  left: -25%; 
}
.carousel-control { 
  width: 4%;
}
.carousel-control.left,.carousel-control.right {
  margin-left: 15px;
  background-image: none;
}
.Featured-title {
  z-index: -1;
  margin-top: 60px;
  padding: 5px;
}

/* ---------------------------
 9. Misc
 ----------------------------- */
.thank-you-text {
  color: #006800;
}
.login-field {
  margin-left: 60px;
 
}
.check-box {
  margin-left: 120px;
}
.btn-danger {
  margin-top: 10px;
  margin-left: 20px;
  background: #006800;
  border-color: #006800;
}
.field-checkbox {
  margin-left: 120px;
  margin-top: 10px;
}
.authentication-form {
  margin-left: 10px;
}
.authentication-header {
  margin-left: 105px;
}

/* ---------------------------
 10. footer
 ----------------------------- */
.footer-element {
  float: right;
  text-align: right;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
footer {
  margin-top: 20px;
  background: #006800;
}