/* ---------------------------
 1. Body
 ----------------------------- */

body {
  position: relative;
  background-color: #222222;
  margin: none;
  font-family: Helvetica, Garamond, Verdana, sans-serif;
  font-size: 14px;
  color: #e6e6fa;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* ---------------------------
 2. NavBar
 ----------------------------- */
.navbar {
  position: fixed;
  text-transform: uppercase;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  color: #532a67;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}

/* ---------------------------
 3. index
 ----------------------------- */
h1 { 
  margin: 30px;
  color: #532a67;
}
h2 { 
  margin: 100px;
  padding: 20px;
  color: #532a67;
  size: 16px;
}
.p { 
  font-size: 16px;
  margin-left: 50px;
}
.front-img {
  max-height: 99vh;
  width: 98.5vw;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
/* ---------------------------
 4. about
 ----------------------------- */
.headline {
	z-index: -1;
	margin-top: 100px;
}
p {
	margin: 100px;
}

/* ---------------------------
 5. contact
 ----------------------------- */
.contact-img {
	height: 200px;
	width: 300px;
	margin-left: 100px;
}

/* ---------------------------
 6. footer
 ----------------------------- */
.footer-element {
  float: right;
  display: inline;
  padding: 10px 30px;
  text-align: right;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
.site-footer {
  background: #006800;
}

/* ---------------------------
 7. Products
 ----------------------------- */

h3 {
  text-align: center;
  color: #532A67;
}
.color, .price, .description {
  text-align: center;
  margin: 0px;
}
.form-group {
  margin-left: 20px;
  padding-left: 50px;
}
h1 {
  z-index: -1;
}
.form-control {
  margin-left: 50px;
}
.image-prod {
  max-height: 300px;
}
.row {
  border-style: red solid;
}