<hr>
<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.text_area :body, class: "form-control", id: "enter-comment", placeholder: "Enter Comment" %>
    </p>
    <p>
      <div class="rating"></div>
    </p>
    <p>
      <%= f.submit "Rate this product", class: "btn btn-info" %>
    </p>
  <% end %>
<% end %>