<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>
    <%= csrf_meta_tags %>

   
   
  </head>

  <body>
    <nav>
  	  <ul>
  		  <li>Home</li>
  		  <li>About</li>
  		  <li>Contact</li>
  	  </ul>
    </nav>

    <%= yield %>
    <footer>
    	&copy; 2017 ellaboranto
    </footer>

  </body>
</html>
